[submodule "user-service"]
	path = user-service
	url = git@github.com:phat-dat-ag/user-service.git
	branch = main
[submodule "product-service"]
	path = product-service
	url = git@github.com:phat-dat-ag/product-service.git
	branch = main
[submodule "order-service"]
	path = order-service
	url = git@github.com:phat-dat-ag/order-service.git
	branch = main
[submodule "jwks-service"]
	path = jwks-service
	url = git@github.com:phat-dat-ag/jwks-service.git
	branch = main
